web/WEB-INF/wsdl/localhost_8080/ManageHospital/ManageHospital.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:ns2="http://Services/" xmlns:ns1="http://ws.dataejbsra.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:import namespace="http://ws.dataejbsra.com/" schemaLocation="http://localhost:8080/ManageHospital/ManageHospital?xsd=1"/>

<xs:import namespace="http://Services/" schemaLocation="http://localhost:8080/ManageHospital/ManageHospital?xsd=3"/>

<xs:element name="cancelAppointment" type="tns:cancelAppointment"/>

<xs:element name="cancelAppointmentResponse" type="tns:cancelAppointmentResponse"/>

<xs:element name="checkAvailability" type="tns:checkAvailability"/>

<xs:element name="checkAvailabilityResponse" type="tns:checkAvailabilityResponse"/>

<xs:element name="completeAppointment" type="tns:completeAppointment"/>

<xs:element name="completeAppointmentResponse" type="tns:completeAppointmentResponse"/>

<xs:element name="createAppoinment" type="tns:createAppoinment"/>

<xs:element name="createAppoinmentResponse" type="tns:createAppoinmentResponse"/>

<xs:element name="createDoctor" type="tns:createDoctor"/>

<xs:element name="createDoctorResponse" type="tns:createDoctorResponse"/>

<xs:element name="deleteDoctor" type="tns:deleteDoctor"/>

<xs:element name="deleteDoctorResponse" type="tns:deleteDoctorResponse"/>

<xs:element name="getAppointmentsByPerson" type="tns:getAppointmentsByPerson"/>

<xs:element name="getAppointmentsByPersonResponse" type="tns:getAppointmentsByPersonResponse"/>

<xs:element name="getDoctor" type="tns:getDoctor"/>

<xs:element name="getDoctorResponse" type="tns:getDoctorResponse"/>

<xs:element name="getDoctorsByHospitalId" type="tns:getDoctorsByHospitalId"/>

<xs:element name="getDoctorsByHospitalIdResponse" type="tns:getDoctorsByHospitalIdResponse"/>

<xs:element name="getDoctorsbySpecialty" type="tns:getDoctorsbySpecialty"/>

<xs:element name="getDoctorsbySpecialtyResponse" type="tns:getDoctorsbySpecialtyResponse"/>

<xs:element name="getListDoctor" type="tns:getListDoctor"/>

<xs:element name="getListDoctorResponse" type="tns:getListDoctorResponse"/>

<xs:element name="getSpecialties" type="tns:getSpecialties"/>

<xs:element name="getSpecialtiesResponse" type="tns:getSpecialtiesResponse"/>

<xs:element name="reportBirth" type="tns:reportBirth"/>

<xs:element name="reportBirthResponse" type="tns:reportBirthResponse"/>

<xs:element name="reportDeath" type="tns:reportDeath"/>

<xs:element name="reportDeathResponse" type="tns:reportDeathResponse"/>

<xs:element name="updateDoctor" type="tns:updateDoctor"/>

<xs:element name="updateDoctorResponse" type="tns:updateDoctorResponse"/>

<xs:complexType name="reportDeath">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reportDeathResponse">
<xs:sequence>
<xs:element name="return" type="ns1:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAppointmentsByPerson">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAppointmentsByPersonResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSpecialties">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSpecialtiesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelAppointment">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelAppointmentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkAvailability">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="arg2" type="ns2:time" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAvailabilityResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDoctor">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDoctorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createAppoinment">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="arg2" type="ns2:time" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="ns2:appointmentType" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAppoinmentResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDoctor">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDoctorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDoctorsbySpecialty">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDoctorsbySpecialtyResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDoctor">
<xs:sequence>
<xs:element name="arg0" type="ns2:doctor" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDoctorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDoctorsByHospitalId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDoctorsByHospitalIdResponse">
<xs:sequence>
<xs:element name="return" type="ns2:doctor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reportBirth">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reportBirthResponse">
<xs:sequence>
<xs:element name="return" type="ns1:rOb" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="completeAppointment">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="completeAppointmentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListDoctor">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListDoctorResponse">
<xs:sequence>
<xs:element name="return" type="ns2:doctor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDoctor">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDoctorResponse">
<xs:sequence>
<xs:element name="return" type="ns2:doctor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>