web/WEB-INF/wsdl/localhost_8080/ManageHospital/ManageHospital.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="ManageHospital">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/ManageHospital/ManageHospital?xsd=1"/>
</xsd:schema>
</types>
<message name="reportDeath">
<part name="parameters" element="tns:reportDeath"/>
</message>
<message name="reportDeathResponse">
<part name="parameters" element="tns:reportDeathResponse"/>
</message>
<message name="reportBirth">
<part name="parameters" element="tns:reportBirth"/>
</message>
<message name="reportBirthResponse">
<part name="parameters" element="tns:reportBirthResponse"/>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"/>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"/>
</message>
<message name="checkAvailability">
<part name="parameters" element="tns:checkAvailability"/>
</message>
<message name="checkAvailabilityResponse">
<part name="parameters" element="tns:checkAvailabilityResponse"/>
</message>
<message name="completeAppointment">
<part name="parameters" element="tns:completeAppointment"/>
</message>
<message name="completeAppointmentResponse">
<part name="parameters" element="tns:completeAppointmentResponse"/>
</message>
<message name="createAppoinment">
<part name="parameters" element="tns:createAppoinment"/>
</message>
<message name="createAppoinmentResponse">
<part name="parameters" element="tns:createAppoinmentResponse"/>
</message>
<message name="createEmergency">
<part name="parameters" element="tns:createEmergency"/>
</message>
<message name="createEmergencyResponse">
<part name="parameters" element="tns:createEmergencyResponse"/>
</message>
<message name="getAppointmentsByPerson">
<part name="parameters" element="tns:getAppointmentsByPerson"/>
</message>
<message name="getAppointmentsByPersonResponse">
<part name="parameters" element="tns:getAppointmentsByPersonResponse"/>
</message>
<message name="getAppointmentByDoctor">
<part name="parameters" element="tns:getAppointmentByDoctor"/>
</message>
<message name="getAppointmentByDoctorResponse">
<part name="parameters" element="tns:getAppointmentByDoctorResponse"/>
</message>
<portType name="ManageHospital">
<operation name="reportDeath">
<input wsam:Action="http://Services/ManageHospital/reportDeathRequest" message="tns:reportDeath"/>
<output wsam:Action="http://Services/ManageHospital/reportDeathResponse" message="tns:reportDeathResponse"/>
</operation>
<operation name="reportBirth">
<input wsam:Action="http://Services/ManageHospital/reportBirthRequest" message="tns:reportBirth"/>
<output wsam:Action="http://Services/ManageHospital/reportBirthResponse" message="tns:reportBirthResponse"/>
</operation>
<operation name="cancelAppointment">
<input wsam:Action="http://Services/ManageHospital/cancelAppointmentRequest" message="tns:cancelAppointment"/>
<output wsam:Action="http://Services/ManageHospital/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
</operation>
<operation name="checkAvailability">
<input wsam:Action="http://Services/ManageHospital/checkAvailabilityRequest" message="tns:checkAvailability"/>
<output wsam:Action="http://Services/ManageHospital/checkAvailabilityResponse" message="tns:checkAvailabilityResponse"/>
</operation>
<operation name="completeAppointment">
<input wsam:Action="http://Services/ManageHospital/completeAppointmentRequest" message="tns:completeAppointment"/>
<output wsam:Action="http://Services/ManageHospital/completeAppointmentResponse" message="tns:completeAppointmentResponse"/>
</operation>
<operation name="createAppoinment">
<input wsam:Action="http://Services/ManageHospital/createAppoinmentRequest" message="tns:createAppoinment"/>
<output wsam:Action="http://Services/ManageHospital/createAppoinmentResponse" message="tns:createAppoinmentResponse"/>
</operation>
<operation name="createEmergency">
<input wsam:Action="http://Services/ManageHospital/createEmergencyRequest" message="tns:createEmergency"/>
<output wsam:Action="http://Services/ManageHospital/createEmergencyResponse" message="tns:createEmergencyResponse"/>
</operation>
<operation name="getAppointmentsByPerson">
<input wsam:Action="http://Services/ManageHospital/getAppointmentsByPersonRequest" message="tns:getAppointmentsByPerson"/>
<output wsam:Action="http://Services/ManageHospital/getAppointmentsByPersonResponse" message="tns:getAppointmentsByPersonResponse"/>
</operation>
<operation name="getAppointmentByDoctor">
<input wsam:Action="http://Services/ManageHospital/getAppointmentByDoctorRequest" message="tns:getAppointmentByDoctor"/>
<output wsam:Action="http://Services/ManageHospital/getAppointmentByDoctorResponse" message="tns:getAppointmentByDoctorResponse"/>
</operation>
</portType>
<binding name="ManageHospitalPortBinding" type="tns:ManageHospital">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reportDeath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportBirth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkAvailability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="completeAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAppoinment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEmergency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAppointmentsByPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAppointmentByDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ManageHospital">
<port name="ManageHospitalPort" binding="tns:ManageHospitalPortBinding">
<soap:address location="http://localhost:8080/ManageHospital/ManageHospital"/>
</port>
</service>
</definitions>