src/conf/xml-resources/web-service-references/OPIaccess/wsdl/localhost_8080/OPIaccess/OPIaccess.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="OPIaccess">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/OPIaccess/OPIaccess?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="removePerson">
<part name="parameters" element="tns:removePerson"/>
</message>
<message name="removeEPS">
<part name="parameters" element="tns:removeEPS"/>
</message>
<message name="registerEPS">
<part name="parameters" element="tns:registerEPS"/>
</message>
<message name="registerPerson">
<part name="parameters" element="tns:registerPerson"/>
</message>
<message name="registerPersonResponse">
<part name="parameters" element="tns:registerPersonResponse"/>
</message>
<portType name="OPIaccess">
<operation name="hello">
<input wsam:Action="http://services/OPIaccess/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/OPIaccess/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="removePerson">
<input wsam:Action="http://services/OPIaccess/removePerson" message="tns:removePerson"/>
</operation>
<operation name="removeEPS">
<input wsam:Action="http://services/OPIaccess/removeEPS" message="tns:removeEPS"/>
</operation>
<operation name="registerEPS">
<input wsam:Action="http://services/OPIaccess/registerEPS" message="tns:registerEPS"/>
</operation>
<operation name="registerPerson">
<input wsam:Action="http://services/OPIaccess/registerPersonRequest" message="tns:registerPerson"/>
<output wsam:Action="http://services/OPIaccess/registerPersonResponse" message="tns:registerPersonResponse"/>
</operation>
</portType>
<binding name="OPIaccessPortBinding" type="tns:OPIaccess">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="registerEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="registerPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OPIaccess">
<port name="OPIaccessPort" binding="tns:OPIaccessPortBinding">
<soap:address location="http://localhost:8080/OPIaccess/OPIaccess"/>
</port>
</service>
</definitions>