web/WEB-INF/wsdl/localhost_8080/AppointmentCRUDUrlWS/AppointmentCRUDUrlWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="AppointmentCRUDUrlWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/AppointmentCRUDUrlWS/AppointmentCRUDUrlWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fachadews/" schemaLocation="http://localhost:8080/AppointmentCRUDUrlWS/AppointmentCRUDUrlWS?xsd=2"/>
</xsd:schema>
</types>
<message name="deleteAppoinment">
<part name="parameters" element="tns:deleteAppoinment"/>
</message>
<message name="deleteAppoinmentResponse">
<part name="parameters" element="tns:deleteAppoinmentResponse"/>
</message>
<message name="getAppointment">
<part name="parameters" element="tns:getAppointment"/>
</message>
<message name="getAppointmentResponse">
<part name="parameters" element="tns:getAppointmentResponse"/>
</message>
<message name="addAppoinment">
<part name="parameters" element="tns:addAppoinment"/>
</message>
<message name="addAppoinmentResponse">
<part name="parameters" element="tns:addAppoinmentResponse"/>
</message>
<portType name="AppointmentCRUDUrlWS">
<operation name="deleteAppoinment">
<input wsam:Action="http://services/AppointmentCRUDUrlWS/deleteAppoinmentRequest" message="tns:deleteAppoinment"/>
<output wsam:Action="http://services/AppointmentCRUDUrlWS/deleteAppoinmentResponse" message="tns:deleteAppoinmentResponse"/>
</operation>
<operation name="getAppointment">
<input wsam:Action="http://services/AppointmentCRUDUrlWS/getAppointmentRequest" message="tns:getAppointment"/>
<output wsam:Action="http://services/AppointmentCRUDUrlWS/getAppointmentResponse" message="tns:getAppointmentResponse"/>
</operation>
<operation name="addAppoinment">
<input wsam:Action="http://services/AppointmentCRUDUrlWS/addAppoinmentRequest" message="tns:addAppoinment"/>
<output wsam:Action="http://services/AppointmentCRUDUrlWS/addAppoinmentResponse" message="tns:addAppoinmentResponse"/>
</operation>
</portType>
<binding name="AppointmentCRUDUrlWSPortBinding" type="tns:AppointmentCRUDUrlWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteAppoinment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAppoinment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AppointmentCRUDUrlWS">
<port name="AppointmentCRUDUrlWSPort" binding="tns:AppointmentCRUDUrlWSPortBinding">
<soap:address location="http://localhost:8080/AppointmentCRUDUrlWS/AppointmentCRUDUrlWS"/>
</port>
</service>
</definitions>