web/WEB-INF/wsdl/localhost_8080/UserRoleWS/UserRoleWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://facadews/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://facadews/" name="UserRoleWS">
<types>
<xsd:schema>
<xsd:import namespace="http://facadews/" schemaLocation="http://localhost:8080/UserRoleWS/UserRoleWS?xsd=1"/>
</xsd:schema>
</types>
<message name="GetUR">
<part name="parameters" element="tns:GetUR"/>
</message>
<message name="GetURResponse">
<part name="parameters" element="tns:GetURResponse"/>
</message>
<message name="SetUR">
<part name="parameters" element="tns:SetUR"/>
</message>
<message name="SetURResponse">
<part name="parameters" element="tns:SetURResponse"/>
</message>
<message name="GetListURByEntity">
<part name="parameters" element="tns:GetListURByEntity"/>
</message>
<message name="GetListURByEntityResponse">
<part name="parameters" element="tns:GetListURByEntityResponse"/>
</message>
<message name="DeleteUR">
<part name="parameters" element="tns:DeleteUR"/>
</message>
<message name="DeleteURResponse">
<part name="parameters" element="tns:DeleteURResponse"/>
</message>
<message name="CreateUR">
<part name="parameters" element="tns:CreateUR"/>
</message>
<message name="CreateURResponse">
<part name="parameters" element="tns:CreateURResponse"/>
</message>
<message name="GetListUR">
<part name="parameters" element="tns:GetListUR"/>
</message>
<message name="GetListURResponse">
<part name="parameters" element="tns:GetListURResponse"/>
</message>
<portType name="UserRoleWS">
<operation name="GetUR">
<input wsam:Action="http://facadews/UserRoleWS/GetURRequest" message="tns:GetUR"/>
<output wsam:Action="http://facadews/UserRoleWS/GetURResponse" message="tns:GetURResponse"/>
</operation>
<operation name="SetUR">
<input wsam:Action="http://facadews/UserRoleWS/SetURRequest" message="tns:SetUR"/>
<output wsam:Action="http://facadews/UserRoleWS/SetURResponse" message="tns:SetURResponse"/>
</operation>
<operation name="GetListURByEntity">
<input wsam:Action="http://facadews/UserRoleWS/GetListURByEntityRequest" message="tns:GetListURByEntity"/>
<output wsam:Action="http://facadews/UserRoleWS/GetListURByEntityResponse" message="tns:GetListURByEntityResponse"/>
</operation>
<operation name="DeleteUR">
<input wsam:Action="http://facadews/UserRoleWS/DeleteURRequest" message="tns:DeleteUR"/>
<output wsam:Action="http://facadews/UserRoleWS/DeleteURResponse" message="tns:DeleteURResponse"/>
</operation>
<operation name="CreateUR">
<input wsam:Action="http://facadews/UserRoleWS/CreateURRequest" message="tns:CreateUR"/>
<output wsam:Action="http://facadews/UserRoleWS/CreateURResponse" message="tns:CreateURResponse"/>
</operation>
<operation name="GetListUR">
<input wsam:Action="http://facadews/UserRoleWS/GetListURRequest" message="tns:GetListUR"/>
<output wsam:Action="http://facadews/UserRoleWS/GetListURResponse" message="tns:GetListURResponse"/>
</operation>
</portType>
<binding name="UserRoleWSPortBinding" type="tns:UserRoleWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetUR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SetUR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetListURByEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteUR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateUR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetListUR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserRoleWS">
<port name="UserRoleWSPort" binding="tns:UserRoleWSPortBinding">
<soap:address location="http://localhost:8080/UserRoleWS/UserRoleWS"/>
</port>
</service>
</definitions>