src/conf/xml-resources/web-service-references/AppointmentCRUDUrlWS/wsdl/localhost_8080/AppointmentCRUDUrlWS/AppointmentCRUDUrlWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:ns1="http://fachadews/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:import namespace="http://fachadews/" schemaLocation="http://localhost:8080/AppointmentCRUDUrlWS/AppointmentCRUDUrlWS?xsd=2"/>

<xs:element name="addAppoinment" type="tns:addAppoinment"/>

<xs:element name="addAppoinmentResponse" type="tns:addAppoinmentResponse"/>

<xs:element name="deleteAppoinment" type="tns:deleteAppoinment"/>

<xs:element name="deleteAppoinmentResponse" type="tns:deleteAppoinmentResponse"/>

<xs:element name="getAppointment" type="tns:getAppointment"/>

<xs:element name="getAppointmentResponse" type="tns:getAppointmentResponse"/>

<xs:complexType name="addAppoinment">
<xs:sequence>
<xs:element name="idRecord" type="xs:int"/>
<xs:element name="appointment" type="ns1:appointment" minOccurs="0"/>
<xs:element name="idEPS" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAppoinmentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteAppoinment">
<xs:sequence>
<xs:element name="idRecord" type="xs:int"/>
<xs:element name="idAppointment" type="xs:int"/>
<xs:element name="idEPS" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAppoinmentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAppointment">
<xs:sequence>
<xs:element name="idRecord" type="xs:int"/>
<xs:element name="idAppointment" type="xs:int"/>
<xs:element name="idEPS" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAppointmentResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>