web/WEB-INF/wsdl/localhost_8080/DataService/DataService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="DataService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/DataService/DataService?xsd=1"/>
</xsd:schema>
</types>
<message name="getTipoCita">
<part name="parameters" element="tns:getTipoCita"/>
</message>
<message name="getTipoCitaResponse">
<part name="parameters" element="tns:getTipoCitaResponse"/>
</message>
<message name="getHospital">
<part name="parameters" element="tns:getHospital"/>
</message>
<message name="getHospitalResponse">
<part name="parameters" element="tns:getHospitalResponse"/>
</message>
<message name="getDoctor">
<part name="parameters" element="tns:getDoctor"/>
</message>
<message name="getDoctorResponse">
<part name="parameters" element="tns:getDoctorResponse"/>
</message>
<portType name="DataService">
<operation name="getTipoCita">
<input wsam:Action="http://servicios/DataService/getTipoCitaRequest" message="tns:getTipoCita"/>
<output wsam:Action="http://servicios/DataService/getTipoCitaResponse" message="tns:getTipoCitaResponse"/>
</operation>
<operation name="getHospital">
<input wsam:Action="http://servicios/DataService/getHospitalRequest" message="tns:getHospital"/>
<output wsam:Action="http://servicios/DataService/getHospitalResponse" message="tns:getHospitalResponse"/>
</operation>
<operation name="getDoctor">
<input wsam:Action="http://servicios/DataService/getDoctorRequest" message="tns:getDoctor"/>
<output wsam:Action="http://servicios/DataService/getDoctorResponse" message="tns:getDoctorResponse"/>
</operation>
</portType>
<binding name="DataServicePortBinding" type="tns:DataService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTipoCita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHospital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataService">
<port name="DataServicePort" binding="tns:DataServicePortBinding">
<soap:address location="http://localhost:8080/DataService/DataService"/>
</port>
</service>
</definitions>