src/conf/xml-resources/web-service-references/ManageHospital/wsdl/localhost_8080/ManageHospital/ManageHospital.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ManageHospital">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dataejbsra.com/" schemaLocation="http://localhost:8080/ManageHospital/ManageHospital?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/ManageHospital/ManageHospital?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/ManageHospital/ManageHospital?xsd=3"/>
</xsd:schema>
</types>
<message name="reportBirth">
<part name="parameters" element="tns:reportBirth"/>
</message>
<message name="reportBirthResponse">
<part name="parameters" element="tns:reportBirthResponse"/>
</message>
<message name="reportDeath">
<part name="parameters" element="tns:reportDeath"/>
</message>
<message name="reportDeathResponse">
<part name="parameters" element="tns:reportDeathResponse"/>
</message>
<message name="checkAvailability">
<part name="parameters" element="tns:checkAvailability"/>
</message>
<message name="checkAvailabilityResponse">
<part name="parameters" element="tns:checkAvailabilityResponse"/>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"/>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"/>
</message>
<message name="completeAppointment">
<part name="parameters" element="tns:completeAppointment"/>
</message>
<message name="completeAppointmentResponse">
<part name="parameters" element="tns:completeAppointmentResponse"/>
</message>
<message name="createEmergency">
<part name="parameters" element="tns:createEmergency"/>
</message>
<message name="createEmergencyResponse">
<part name="parameters" element="tns:createEmergencyResponse"/>
</message>
<message name="getSpecialties">
<part name="parameters" element="tns:getSpecialties"/>
</message>
<message name="getSpecialtiesResponse">
<part name="parameters" element="tns:getSpecialtiesResponse"/>
</message>
<message name="createAppoinment">
<part name="parameters" element="tns:createAppoinment"/>
</message>
<message name="createAppoinmentResponse">
<part name="parameters" element="tns:createAppoinmentResponse"/>
</message>
<message name="getAppointmentsByPerson">
<part name="parameters" element="tns:getAppointmentsByPerson"/>
</message>
<message name="getAppointmentsByPersonResponse">
<part name="parameters" element="tns:getAppointmentsByPersonResponse"/>
</message>
<message name="getDoctorsbySpecialty">
<part name="parameters" element="tns:getDoctorsbySpecialty"/>
</message>
<message name="getDoctorsbySpecialtyResponse">
<part name="parameters" element="tns:getDoctorsbySpecialtyResponse"/>
</message>
<portType name="ManageHospital">
<operation name="reportBirth">
<input wsam:Action="http://Servicios/ManageHospital/reportBirthRequest" message="tns:reportBirth"/>
<output wsam:Action="http://Servicios/ManageHospital/reportBirthResponse" message="tns:reportBirthResponse"/>
</operation>
<operation name="reportDeath">
<input wsam:Action="http://Servicios/ManageHospital/reportDeathRequest" message="tns:reportDeath"/>
<output wsam:Action="http://Servicios/ManageHospital/reportDeathResponse" message="tns:reportDeathResponse"/>
</operation>
<operation name="checkAvailability">
<input wsam:Action="http://Servicios/ManageHospital/checkAvailabilityRequest" message="tns:checkAvailability"/>
<output wsam:Action="http://Servicios/ManageHospital/checkAvailabilityResponse" message="tns:checkAvailabilityResponse"/>
</operation>
<operation name="cancelAppointment">
<input wsam:Action="http://Servicios/ManageHospital/cancelAppointmentRequest" message="tns:cancelAppointment"/>
<output wsam:Action="http://Servicios/ManageHospital/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
</operation>
<operation name="completeAppointment">
<input wsam:Action="http://Servicios/ManageHospital/completeAppointmentRequest" message="tns:completeAppointment"/>
<output wsam:Action="http://Servicios/ManageHospital/completeAppointmentResponse" message="tns:completeAppointmentResponse"/>
</operation>
<operation name="createEmergency">
<input wsam:Action="http://Servicios/ManageHospital/createEmergencyRequest" message="tns:createEmergency"/>
<output wsam:Action="http://Servicios/ManageHospital/createEmergencyResponse" message="tns:createEmergencyResponse"/>
</operation>
<operation name="getSpecialties">
<input wsam:Action="http://Servicios/ManageHospital/getSpecialtiesRequest" message="tns:getSpecialties"/>
<output wsam:Action="http://Servicios/ManageHospital/getSpecialtiesResponse" message="tns:getSpecialtiesResponse"/>
</operation>
<operation name="createAppoinment">
<input wsam:Action="http://Servicios/ManageHospital/createAppoinmentRequest" message="tns:createAppoinment"/>
<output wsam:Action="http://Servicios/ManageHospital/createAppoinmentResponse" message="tns:createAppoinmentResponse"/>
</operation>
<operation name="getAppointmentsByPerson">
<input wsam:Action="http://Servicios/ManageHospital/getAppointmentsByPersonRequest" message="tns:getAppointmentsByPerson"/>
<output wsam:Action="http://Servicios/ManageHospital/getAppointmentsByPersonResponse" message="tns:getAppointmentsByPersonResponse"/>
</operation>
<operation name="getDoctorsbySpecialty">
<input wsam:Action="http://Servicios/ManageHospital/getDoctorsbySpecialtyRequest" message="tns:getDoctorsbySpecialty"/>
<output wsam:Action="http://Servicios/ManageHospital/getDoctorsbySpecialtyResponse" message="tns:getDoctorsbySpecialtyResponse"/>
</operation>
</portType>
<binding name="ManageHospitalPortBinding" type="tns:ManageHospital">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reportBirth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportDeath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkAvailability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="completeAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEmergency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSpecialties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAppoinment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAppointmentsByPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDoctorsbySpecialty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ManageHospital">
<port name="ManageHospitalPort" binding="tns:ManageHospitalPortBinding">
<soap:address location="http://localhost:8080/ManageHospital/ManageHospital"/>
</port>
</service>
</definitions>