web/WEB-INF/wsdl/localhost_8080/CRUD_EPS_ws/CRUD_EPS_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="CRUD_EPS_ws">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/CRUD_EPS_ws/CRUD_EPS_ws?xsd=1"/>
</xsd:schema>
</types>
<message name="readOneEPS">
<part name="parameters" element="tns:readOneEPS"/>
</message>
<message name="readOneEPSResponse">
<part name="parameters" element="tns:readOneEPSResponse"/>
</message>
<message name="createEPS">
<part name="parameters" element="tns:createEPS"/>
</message>
<message name="createEPSResponse">
<part name="parameters" element="tns:createEPSResponse"/>
</message>
<message name="updateEPS">
<part name="parameters" element="tns:updateEPS"/>
</message>
<message name="updateEPSResponse">
<part name="parameters" element="tns:updateEPSResponse"/>
</message>
<message name="deleteEPS">
<part name="parameters" element="tns:deleteEPS"/>
</message>
<message name="deleteEPSResponse">
<part name="parameters" element="tns:deleteEPSResponse"/>
</message>
<message name="changeEPS">
<part name="parameters" element="tns:changeEPS"/>
</message>
<message name="changeEPSResponse">
<part name="parameters" element="tns:changeEPSResponse"/>
</message>
<message name="readAllEPS">
<part name="parameters" element="tns:readAllEPS"/>
</message>
<message name="readAllEPSResponse">
<part name="parameters" element="tns:readAllEPSResponse"/>
</message>
<portType name="CRUD_EPS_ws">
<operation name="readOneEPS">
<input wsam:Action="http://services/CRUD_EPS_ws/readOneEPSRequest" message="tns:readOneEPS"/>
<output wsam:Action="http://services/CRUD_EPS_ws/readOneEPSResponse" message="tns:readOneEPSResponse"/>
</operation>
<operation name="createEPS">
<input wsam:Action="http://services/CRUD_EPS_ws/createEPSRequest" message="tns:createEPS"/>
<output wsam:Action="http://services/CRUD_EPS_ws/createEPSResponse" message="tns:createEPSResponse"/>
</operation>
<operation name="updateEPS">
<input wsam:Action="http://services/CRUD_EPS_ws/updateEPSRequest" message="tns:updateEPS"/>
<output wsam:Action="http://services/CRUD_EPS_ws/updateEPSResponse" message="tns:updateEPSResponse"/>
</operation>
<operation name="deleteEPS">
<input wsam:Action="http://services/CRUD_EPS_ws/deleteEPSRequest" message="tns:deleteEPS"/>
<output wsam:Action="http://services/CRUD_EPS_ws/deleteEPSResponse" message="tns:deleteEPSResponse"/>
</operation>
<operation name="changeEPS">
<input wsam:Action="http://services/CRUD_EPS_ws/changeEPSRequest" message="tns:changeEPS"/>
<output wsam:Action="http://services/CRUD_EPS_ws/changeEPSResponse" message="tns:changeEPSResponse"/>
</operation>
<operation name="readAllEPS">
<input wsam:Action="http://services/CRUD_EPS_ws/readAllEPSRequest" message="tns:readAllEPS"/>
<output wsam:Action="http://services/CRUD_EPS_ws/readAllEPSResponse" message="tns:readAllEPSResponse"/>
</operation>
</portType>
<binding name="CRUD_EPS_wsPortBinding" type="tns:CRUD_EPS_ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readOneEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CRUD_EPS_ws">
<port name="CRUD_EPS_wsPort" binding="tns:CRUD_EPS_wsPortBinding">
<soap:address location="http://localhost:8080/CRUD_EPS_ws/CRUD_EPS_ws"/>
</port>
</service>
</definitions>