web/WEB-INF/wsdl/localhost_8080/SRAaccess/SRAaccess.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="SRAaccess">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/SRAaccess/SRAaccess?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="registerCompany">
<part name="parameters" element="tns:registerCompany"/>
</message>
<message name="removeCompany">
<part name="parameters" element="tns:removeCompany"/>
</message>
<message name="removeRelation">
<part name="parameters" element="tns:removeRelation"/>
</message>
<message name="registerRelation">
<part name="parameters" element="tns:registerRelation"/>
</message>
<message name="validRelation">
<part name="parameters" element="tns:validRelation"/>
</message>
<portType name="SRAaccess">
<operation name="hello">
<input wsam:Action="http://services/SRAaccess/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/SRAaccess/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="registerCompany">
<input wsam:Action="http://services/SRAaccess/registerCompany" message="tns:registerCompany"/>
</operation>
<operation name="removeCompany">
<input wsam:Action="http://services/SRAaccess/removeCompany" message="tns:removeCompany"/>
</operation>
<operation name="removeRelation">
<input wsam:Action="http://services/SRAaccess/removeRelation" message="tns:removeRelation"/>
</operation>
<operation name="registerRelation">
<input wsam:Action="http://services/SRAaccess/registerRelation" message="tns:registerRelation"/>
</operation>
<operation name="validRelation">
<input wsam:Action="http://services/SRAaccess/validRelation" message="tns:validRelation"/>
</operation>
</portType>
<binding name="SRAaccessPortBinding" type="tns:SRAaccess">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeRelation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="registerRelation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="validRelation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="SRAaccess">
<port name="SRAaccessPort" binding="tns:SRAaccessPortBinding">
<soap:address location="http://localhost:8080/SRAaccess/SRAaccess"/>
</port>
</service>
</definitions>