web/WEB-INF/wsdl/localhost_8080/SRAaccess/SRAaccess.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="registerCompany" type="tns:registerCompany"/>

<xs:element name="registerRelation" type="tns:registerRelation"/>

<xs:element name="removeCompany" type="tns:removeCompany"/>

<xs:element name="removeRelation" type="tns:removeRelation"/>

<xs:element name="validRelation" type="tns:validRelation"/>

<xs:complexType name="registerRelation">
<xs:sequence>
<xs:element name="personID" type="xs:long" minOccurs="0"/>
<xs:element name="companyID" type="xs:long" minOccurs="0"/>
<xs:element name="rolPerson" type="xs:string" minOccurs="0"/>
<xs:element name="passwordCompany" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCompany">
<xs:sequence>
<xs:element name="ID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerCompany">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeRelation">
<xs:sequence>
<xs:element name="personID" type="xs:long" minOccurs="0"/>
<xs:element name="companyID" type="xs:long" minOccurs="0"/>
<xs:element name="passwordCompany" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validRelation">
<xs:sequence>
<xs:element name="personID" type="xs:long" minOccurs="0"/>
<xs:element name="companyID" type="xs:long" minOccurs="0"/>
<xs:element name="personPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>