web/WEB-INF/wsdl/localhost_8080/AdmEPSService/AdmEPSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="AdmEPSService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/AdmEPSService/AdmEPSService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fachadews/" schemaLocation="http://localhost:8080/AdmEPSService/AdmEPSService?xsd=2"/>
</xsd:schema>
</types>
<message name="addAppoinment">
<part name="parameters" element="tns:addAppoinment"/>
</message>
<message name="addAppoinmentResponse">
<part name="parameters" element="tns:addAppoinmentResponse"/>
</message>
<message name="deleteAppoinment">
<part name="parameters" element="tns:deleteAppoinment"/>
</message>
<message name="deleteAppoinmentResponse">
<part name="parameters" element="tns:deleteAppoinmentResponse"/>
</message>
<message name="getAppointment">
<part name="parameters" element="tns:getAppointment"/>
</message>
<message name="getAppointmentResponse">
<part name="parameters" element="tns:getAppointmentResponse"/>
</message>
<message name="createMedicalRecord">
<part name="parameters" element="tns:createMedicalRecord"/>
</message>
<message name="createMedicalRecordResponse">
<part name="parameters" element="tns:createMedicalRecordResponse"/>
</message>
<message name="readMedicalRecord">
<part name="parameters" element="tns:readMedicalRecord"/>
</message>
<message name="readMedicalRecordResponse">
<part name="parameters" element="tns:readMedicalRecordResponse"/>
</message>
<message name="updateMedicalRecord">
<part name="parameters" element="tns:updateMedicalRecord"/>
</message>
<message name="updateMedicalRecordResponse">
<part name="parameters" element="tns:updateMedicalRecordResponse"/>
</message>
<message name="deleteMedicalRecord">
<part name="parameters" element="tns:deleteMedicalRecord"/>
</message>
<message name="deleteMedicalRecordResponse">
<part name="parameters" element="tns:deleteMedicalRecordResponse"/>
</message>
<message name="readAllMedicalRecord">
<part name="parameters" element="tns:readAllMedicalRecord"/>
</message>
<message name="readAllMedicalRecordResponse">
<part name="parameters" element="tns:readAllMedicalRecordResponse"/>
</message>
<message name="createEPS">
<part name="parameters" element="tns:createEPS"/>
</message>
<message name="createEPSResponse">
<part name="parameters" element="tns:createEPSResponse"/>
</message>
<message name="readOneEPS">
<part name="parameters" element="tns:readOneEPS"/>
</message>
<message name="readOneEPSResponse">
<part name="parameters" element="tns:readOneEPSResponse"/>
</message>
<message name="readAllEPS">
<part name="parameters" element="tns:readAllEPS"/>
</message>
<message name="readAllEPSResponse">
<part name="parameters" element="tns:readAllEPSResponse"/>
</message>
<message name="updateEPS">
<part name="parameters" element="tns:updateEPS"/>
</message>
<message name="updateEPSResponse">
<part name="parameters" element="tns:updateEPSResponse"/>
</message>
<message name="deleteEPS">
<part name="parameters" element="tns:deleteEPS"/>
</message>
<message name="deleteEPSResponse">
<part name="parameters" element="tns:deleteEPSResponse"/>
</message>
<message name="changeEPS">
<part name="parameters" element="tns:changeEPS"/>
</message>
<message name="changeEPSResponse">
<part name="parameters" element="tns:changeEPSResponse"/>
</message>
<portType name="AdmEPSService">
<operation name="addAppoinment">
<input wsam:Action="http://servicios/AdmEPSService/addAppoinmentRequest" message="tns:addAppoinment"/>
<output wsam:Action="http://servicios/AdmEPSService/addAppoinmentResponse" message="tns:addAppoinmentResponse"/>
</operation>
<operation name="deleteAppoinment">
<input wsam:Action="http://servicios/AdmEPSService/deleteAppoinmentRequest" message="tns:deleteAppoinment"/>
<output wsam:Action="http://servicios/AdmEPSService/deleteAppoinmentResponse" message="tns:deleteAppoinmentResponse"/>
</operation>
<operation name="getAppointment">
<input wsam:Action="http://servicios/AdmEPSService/getAppointmentRequest" message="tns:getAppointment"/>
<output wsam:Action="http://servicios/AdmEPSService/getAppointmentResponse" message="tns:getAppointmentResponse"/>
</operation>
<operation name="createMedicalRecord">
<input wsam:Action="http://servicios/AdmEPSService/createMedicalRecordRequest" message="tns:createMedicalRecord"/>
<output wsam:Action="http://servicios/AdmEPSService/createMedicalRecordResponse" message="tns:createMedicalRecordResponse"/>
</operation>
<operation name="readMedicalRecord">
<input wsam:Action="http://servicios/AdmEPSService/readMedicalRecordRequest" message="tns:readMedicalRecord"/>
<output wsam:Action="http://servicios/AdmEPSService/readMedicalRecordResponse" message="tns:readMedicalRecordResponse"/>
</operation>
<operation name="updateMedicalRecord">
<input wsam:Action="http://servicios/AdmEPSService/updateMedicalRecordRequest" message="tns:updateMedicalRecord"/>
<output wsam:Action="http://servicios/AdmEPSService/updateMedicalRecordResponse" message="tns:updateMedicalRecordResponse"/>
</operation>
<operation name="deleteMedicalRecord">
<input wsam:Action="http://servicios/AdmEPSService/deleteMedicalRecordRequest" message="tns:deleteMedicalRecord"/>
<output wsam:Action="http://servicios/AdmEPSService/deleteMedicalRecordResponse" message="tns:deleteMedicalRecordResponse"/>
</operation>
<operation name="readAllMedicalRecord">
<input wsam:Action="http://servicios/AdmEPSService/readAllMedicalRecordRequest" message="tns:readAllMedicalRecord"/>
<output wsam:Action="http://servicios/AdmEPSService/readAllMedicalRecordResponse" message="tns:readAllMedicalRecordResponse"/>
</operation>
<operation name="createEPS">
<input wsam:Action="http://servicios/AdmEPSService/createEPSRequest" message="tns:createEPS"/>
<output wsam:Action="http://servicios/AdmEPSService/createEPSResponse" message="tns:createEPSResponse"/>
</operation>
<operation name="readOneEPS">
<input wsam:Action="http://servicios/AdmEPSService/readOneEPSRequest" message="tns:readOneEPS"/>
<output wsam:Action="http://servicios/AdmEPSService/readOneEPSResponse" message="tns:readOneEPSResponse"/>
</operation>
<operation name="readAllEPS">
<input wsam:Action="http://servicios/AdmEPSService/readAllEPSRequest" message="tns:readAllEPS"/>
<output wsam:Action="http://servicios/AdmEPSService/readAllEPSResponse" message="tns:readAllEPSResponse"/>
</operation>
<operation name="updateEPS">
<input wsam:Action="http://servicios/AdmEPSService/updateEPSRequest" message="tns:updateEPS"/>
<output wsam:Action="http://servicios/AdmEPSService/updateEPSResponse" message="tns:updateEPSResponse"/>
</operation>
<operation name="deleteEPS">
<input wsam:Action="http://servicios/AdmEPSService/deleteEPSRequest" message="tns:deleteEPS"/>
<output wsam:Action="http://servicios/AdmEPSService/deleteEPSResponse" message="tns:deleteEPSResponse"/>
</operation>
<operation name="changeEPS">
<input wsam:Action="http://servicios/AdmEPSService/changeEPSRequest" message="tns:changeEPS"/>
<output wsam:Action="http://servicios/AdmEPSService/changeEPSResponse" message="tns:changeEPSResponse"/>
</operation>
</portType>
<binding name="AdmEPSServicePortBinding" type="tns:AdmEPSService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addAppoinment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAppoinment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readOneEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeEPS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdmEPSService">
<port name="AdmEPSServicePort" binding="tns:AdmEPSServicePortBinding">
<soap:address location="http://localhost:8080/AdmEPSService/AdmEPSService"/>
</port>
</service>
</definitions>