web/WEB-INF/wsdl/madmoira_8080/CRUDHospital/CRUDHospitalWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="CRUDHospital">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://madmoira:8080/CRUDHospital/CRUDHospitalWS?xsd=1"/>
</xsd:schema>
</types>
<message name="readAllHospital">
<part name="parameters" element="tns:readAllHospital"/>
</message>
<message name="readAllHospitalResponse">
<part name="parameters" element="tns:readAllHospitalResponse"/>
</message>
<message name="readHospitalbyId">
<part name="parameters" element="tns:readHospitalbyId"/>
</message>
<message name="readHospitalbyIdResponse">
<part name="parameters" element="tns:readHospitalbyIdResponse"/>
</message>
<message name="updateHospital">
<part name="parameters" element="tns:updateHospital"/>
</message>
<message name="updateHospitalResponse">
<part name="parameters" element="tns:updateHospitalResponse"/>
</message>
<message name="createHospital">
<part name="parameters" element="tns:createHospital"/>
</message>
<message name="createHospitalResponse">
<part name="parameters" element="tns:createHospitalResponse"/>
</message>
<message name="deleteHospital">
<part name="parameters" element="tns:deleteHospital"/>
</message>
<message name="deleteHospitalResponse">
<part name="parameters" element="tns:deleteHospitalResponse"/>
</message>
<portType name="CRUDHospitalWS">
<operation name="readAllHospital">
<input wsam:Action="http://Servicios/CRUDHospitalWS/readAllHospitalRequest" message="tns:readAllHospital"/>
<output wsam:Action="http://Servicios/CRUDHospitalWS/readAllHospitalResponse" message="tns:readAllHospitalResponse"/>
</operation>
<operation name="readHospitalbyId">
<input wsam:Action="http://Servicios/CRUDHospitalWS/readHospitalbyIdRequest" message="tns:readHospitalbyId"/>
<output wsam:Action="http://Servicios/CRUDHospitalWS/readHospitalbyIdResponse" message="tns:readHospitalbyIdResponse"/>
</operation>
<operation name="updateHospital">
<input wsam:Action="http://Servicios/CRUDHospitalWS/updateHospitalRequest" message="tns:updateHospital"/>
<output wsam:Action="http://Servicios/CRUDHospitalWS/updateHospitalResponse" message="tns:updateHospitalResponse"/>
</operation>
<operation name="createHospital">
<input wsam:Action="http://Servicios/CRUDHospitalWS/createHospitalRequest" message="tns:createHospital"/>
<output wsam:Action="http://Servicios/CRUDHospitalWS/createHospitalResponse" message="tns:createHospitalResponse"/>
</operation>
<operation name="deleteHospital">
<input wsam:Action="http://Servicios/CRUDHospitalWS/deleteHospitalRequest" message="tns:deleteHospital"/>
<output wsam:Action="http://Servicios/CRUDHospitalWS/deleteHospitalResponse" message="tns:deleteHospitalResponse"/>
</operation>
</portType>
<binding name="CRUDHospitalWSPortBinding" type="tns:CRUDHospitalWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readAllHospital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readHospitalbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateHospital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createHospital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteHospital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CRUDHospital">
<port name="CRUDHospitalWSPort" binding="tns:CRUDHospitalWSPortBinding">
<soap:address location="http://madmoira:8080/CRUDHospital/CRUDHospitalWS"/>
</port>
</service>
</definitions>