src/conf/xml-resources/web-service-references/MedicalRecordsCRUDUrlWS/wsdl/localhost_8080/MedicalRecordsCRUDUrlWS/MedicalRecordsCRUDUrlWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:ns1="http://fachadews/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:import namespace="http://fachadews/" schemaLocation="http://localhost:8080/MedicalRecordsCRUDUrlWS/MedicalRecordsCRUDUrlWS?xsd=2"/>

<xs:element name="createMedicalRecord" type="tns:createMedicalRecord"/>

<xs:element name="createMedicalRecordResponse" type="tns:createMedicalRecordResponse"/>

<xs:element name="deleteMedicalRecord" type="tns:deleteMedicalRecord"/>

<xs:element name="deleteMedicalRecordResponse" type="tns:deleteMedicalRecordResponse"/>

<xs:element name="readMedicalRecord" type="tns:readMedicalRecord"/>

<xs:element name="readMedicalRecordResponse" type="tns:readMedicalRecordResponse"/>

<xs:element name="updateMedicalRecord" type="tns:updateMedicalRecord"/>

<xs:element name="updateMedicalRecordResponse" type="tns:updateMedicalRecordResponse"/>

<xs:complexType name="deleteMedicalRecord">
<xs:sequence>
<xs:element name="idRecord" type="xs:int"/>
<xs:element name="idEPS" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMedicalRecordResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readMedicalRecord">
<xs:sequence>
<xs:element name="idRecord" type="xs:int"/>
<xs:element name="idEPS" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readMedicalRecordResponse">
<xs:sequence>
<xs:element name="return" type="ns1:medicalRecord" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMedicalRecord">
<xs:sequence>
<xs:element name="record" type="ns1:medicalRecord" minOccurs="0"/>
<xs:element name="idEPS" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMedicalRecordResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createMedicalRecord">
<xs:sequence>
<xs:element name="idRecord" type="xs:int"/>
<xs:element name="idEPS" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMedicalRecordResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>