src/conf/xml-resources/web-service-references/MedicalRecordsCRUDUrlWS/wsdl/localhost_8080/MedicalRecordsCRUDUrlWS/MedicalRecordsCRUDUrlWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="MedicalRecordsCRUDUrlWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/MedicalRecordsCRUDUrlWS/MedicalRecordsCRUDUrlWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fachadews/" schemaLocation="http://localhost:8080/MedicalRecordsCRUDUrlWS/MedicalRecordsCRUDUrlWS?xsd=2"/>
</xsd:schema>
</types>
<message name="createMedicalRecord">
<part name="parameters" element="tns:createMedicalRecord"/>
</message>
<message name="createMedicalRecordResponse">
<part name="parameters" element="tns:createMedicalRecordResponse"/>
</message>
<message name="deleteMedicalRecord">
<part name="parameters" element="tns:deleteMedicalRecord"/>
</message>
<message name="deleteMedicalRecordResponse">
<part name="parameters" element="tns:deleteMedicalRecordResponse"/>
</message>
<message name="readMedicalRecord">
<part name="parameters" element="tns:readMedicalRecord"/>
</message>
<message name="readMedicalRecordResponse">
<part name="parameters" element="tns:readMedicalRecordResponse"/>
</message>
<message name="readAllMedicalRecord">
<part name="parameters" element="tns:readAllMedicalRecord"/>
</message>
<message name="readAllMedicalRecordResponse">
<part name="parameters" element="tns:readAllMedicalRecordResponse"/>
</message>
<message name="updateMedicalRecord">
<part name="parameters" element="tns:updateMedicalRecord"/>
</message>
<message name="updateMedicalRecordResponse">
<part name="parameters" element="tns:updateMedicalRecordResponse"/>
</message>
<portType name="MedicalRecordsCRUDUrlWS">
<operation name="createMedicalRecord">
<input wsam:Action="http://services/MedicalRecordsCRUDUrlWS/createMedicalRecordRequest" message="tns:createMedicalRecord"/>
<output wsam:Action="http://services/MedicalRecordsCRUDUrlWS/createMedicalRecordResponse" message="tns:createMedicalRecordResponse"/>
</operation>
<operation name="deleteMedicalRecord">
<input wsam:Action="http://services/MedicalRecordsCRUDUrlWS/deleteMedicalRecordRequest" message="tns:deleteMedicalRecord"/>
<output wsam:Action="http://services/MedicalRecordsCRUDUrlWS/deleteMedicalRecordResponse" message="tns:deleteMedicalRecordResponse"/>
</operation>
<operation name="readMedicalRecord">
<input wsam:Action="http://services/MedicalRecordsCRUDUrlWS/readMedicalRecordRequest" message="tns:readMedicalRecord"/>
<output wsam:Action="http://services/MedicalRecordsCRUDUrlWS/readMedicalRecordResponse" message="tns:readMedicalRecordResponse"/>
</operation>
<operation name="readAllMedicalRecord">
<input wsam:Action="http://services/MedicalRecordsCRUDUrlWS/readAllMedicalRecordRequest" message="tns:readAllMedicalRecord"/>
<output wsam:Action="http://services/MedicalRecordsCRUDUrlWS/readAllMedicalRecordResponse" message="tns:readAllMedicalRecordResponse"/>
</operation>
<operation name="updateMedicalRecord">
<input wsam:Action="http://services/MedicalRecordsCRUDUrlWS/updateMedicalRecordRequest" message="tns:updateMedicalRecord"/>
<output wsam:Action="http://services/MedicalRecordsCRUDUrlWS/updateMedicalRecordResponse" message="tns:updateMedicalRecordResponse"/>
</operation>
</portType>
<binding name="MedicalRecordsCRUDUrlWSPortBinding" type="tns:MedicalRecordsCRUDUrlWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MedicalRecordsCRUDUrlWS">
<port name="MedicalRecordsCRUDUrlWSPort" binding="tns:MedicalRecordsCRUDUrlWSPortBinding">
<soap:address location="http://localhost:8080/MedicalRecordsCRUDUrlWS/MedicalRecordsCRUDUrlWS"/>
</port>
</service>
</definitions>